<!-- inheritancing my main layout (inheritancing its html structure)-->


{% extends '_layout.html' %}


{% block title %} Listado de articulos {% endblock %}

<!-- to charge content in my layout -->
{% block content %}
    <h1 class="title">Listado de articulos</h1>

    <!-- displaying messages after to add an new article -->
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    
        {% for article in articles %}
            <article class="article-item">
                                    <!-- length: using pipe on length -->
                {% if article.image != 'null' and article.image.url|length >= 1 %}
                    <div class="image">

                        <!-- displayin image -->
                        <img src="{{ article.image.url }}" alt="">
                    </div>

                {% endif %}

                <dir class="data">
                    <h2>{{article.id}} - {{article.title}}</h2>
                    <span class="date">{{article.created_at}}</span>

                    {% if article.public %}
                        <strong> - Publicado</strong>
                    {% else %}
                        <strong>Privado</strong>
                    {% endif %}
                    
                    <p>
                        {{article.content}}
                                                    <!-- it is important that "id" is join to "= article" -->
                                                    <!-- delete_article : name of path -->
                                                    <!-- id=article.id  : param of url  -->
                        <a href="{% url 'delete_article' id=article.id %}" class="btn btn-delete">Eliminar</a>
                    </p>                                  
                    
                </dir>
                <div class="clearFix"></div>
                
            </article>
        {% endfor %}
    

{% endblock %}

