<!-- inheriting my main layout (inheriting its html structure)-->


{% extends '_layout.html' %}

<!-- it is a place adequate to charge my custom filter -->
{% load filters %}

{% block title %} Formularios en Django {% endblock %}

<!-- to charge content in my layout -->
{% block content %}
    <h1 class="title">Formularios en Django</h1>

    <!--  class 237 : validating forms -->
    <!-- checking if exists errors -->
    {% if form.errors %}
        <strong class="rojo">
            Hay errores en el formulario
        </strong>
    {% endif %}

    <form action="" method="POST"><!-- I can use GET also -->

        <!-- it is important when work with POST -->
        {% csrf_token %}
        
        <!-- displaying form sended from views.py -->
        {{ form.as_p }} <!-- as_p : it will put every field of form in a "p" tag -->
                         <!-- as_ul : it will put every field of form in a "ul" tag -->
        
        <input type="submit" value="Guardar">
    </form>
    

{% endblock %}

