<div class="pagination">

    <!-- checking if doesn't exist previous page -->
    <p>feo</p>
    {% if articles.has_previous %}
    
    <!-- setting links -->
    <a href="?page=1">
       <!-- it create a arrow -->  &laquo; Primero 
        </a>
        
        <a href="?page={{ articles.previous_page_number }}">
            Anterior
        </a>
    {% endif %}
    
    <span class="current_page">
        Página {{ articles.number }} de {{ articles.paginator.num_pages }}
    </span>
    
    <!-- checking if doesn't exist next page -->
    {% if articles.has_next %}

        <!-- setting links -->
        <a href="?page={{ articles.next_page_number }}">
            Siguiente
        </a>

        <a href="?page={{articles.paginator.num_pages}}">
             Ultimo &raquo; <!-- it create a arrow --> 
        </a>

        
    {% endif %}
</div>