
{% extends 'layouts/_layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <h1>{{title}}</h1>
    <hr>

    <!-- checking if exists flash messages -->
    {% if messages %}

        <!-- using for loop because can exists many messages -->
        {% for message in messages %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}


    <!-- checking if user is loged -->
    {% if user.email %}
        <!-- displayin information of user -->
                                            <!-- other way to access to user -->
        <h2>Bienvenido {{request.user.first_name}} {{user.last_name}}</h2>
        <p>
            {{user.email}}
        </p>   
    {% else %}
        <h2>Identifate para ver más cosas</h2>
    {% endif %}
    

{% endblock %}

